In [1]:
import random

In [2]:
import numpy as np

In [3]:
np.random.rand()

0.7941233901217171

In [4]:
import pandas as pd

In [5]:
train = pd.read_csv('../input/tweet-sentiment-extraction/train.csv')
test = pd.read_csv('../input/tweet-sentiment-extraction/test.csv')

In [6]:
old = pd.read_csv('../input/tweet-sentiment-extraction/tweet_dataset.csv')

In [7]:
train.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [8]:
train.shape

(27481, 4)

In [9]:
test.head()

       textID                                               text sentiment
0  f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1  96d74cb729   Shanghai is also really exciting (precisely -...  positive
2  eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3  01082688c6                                        happy bday!  positive
4  33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive

In [10]:
old.head()

,textID,sentiment,author,text,old_text,aux_id,new_sentiment,selected_text
0,1956967341,empty,xoshayzers,i know i was listenin to bad habit earlier a...,@tiffanylue i know i was listenin to bad habi...,p1000000000,NaN,NaN
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...,Layin n bed with a headache ughhhh...waitin o...,c811396dc2,negative,headache
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...,Funeral ceremony...gloomy friday...,9063631ab1,negative,gloomy
3,1956967789,enthusiasm,czareaquino,wants to hang out with friends SOON!,wants to hang out with friends SOON!,2a815f151d,positive,wants to hang out with friends SOON!
4,1956968416,neutral,xkilljoyx,We want to trade with someone who has Houston...,@dannycastillo We want to trade with someone w...,82565a56d3,neutral,We want to trade with someone who has Houston ...

In [36]:
old[old['aux_id']=='b99780d3eb']

,textID,sentiment,author,text,old_text,aux_id,new_sentiment,selected_text
30935,1751783894,love,daNanner,thanks! You`re the first one to wish me a happ...,@bkGirlFriday thanks! You're the first one to ...,b99780d3eb,positive,thanks! You`re the first one to wish me a happ...

In [14]:
old.dropna(subset=['text'],inplace=True)
old.drop_duplicates(subset=['text'], inplace=True)

In [15]:
old['text'] = old['text'].apply(lambda x: ' '.join(x.strip().split()))

In [16]:
old[old['text']=='Hi I have uploaded 5 completely new Chinese Lessons on www.youtube.com/ChineseLearn Please feel free to watch and enjoy']

,textID,sentiment,author,text,old_text,aux_id,new_sentiment,selected_text
20362,1694032968,love,ChineseLearn,Hi I have uploaded 5 completely new Chinese Le...,@puerhan Hi I have uploaded 5 completely new C...,3793966498,positive,Please feel free to watch and enjoy

In [17]:
train = train.merge(old[['text','sentiment','author']], on='text', how='left')

In [18]:
train.drop_duplicates(subset=['textID'], inplace=True)

In [19]:
train.shape

(27481, 6)

In [20]:
test = test.merge(old[['text','sentiment']], on='text', how='left')

In [21]:
test.drop_duplicates(subset=['textID'], inplace=True)

In [22]:
test['sentiment_y'].isnull().sum()

2119

In [23]:
train.head()

,textID,text,selected_text,sentiment_x,sentiment_y,author
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,NaN,NaN
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,NaN,NaN
2,088c60f138,my boss is bullying me...,bullying me,negative,worry,bincho8
3,9642c003ef,what interview! leave me alone,leave me alone,negative,NaN,NaN
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,NaN,NaN

In [24]:
train.dropna(subset=['text'], inplace=True)

In [25]:
train['text'] = train['text'].apply(lambda x: ' '.join(x.strip().split()))
train['selected_text'] = train['selected_text'].apply(
                lambda x: ' '.join(x.strip().split()))

In [26]:
train['whole_sentence'] = train.apply(lambda x: len(x['selected_text'])/len(x['text'])>0.99, axis=1)

In [27]:
train[train['whole_sentence']==1].groupby('sentiment_x')['sentiment_y'].value_counts()

sentiment_x  sentiment_y
negative     worry           262
             sadness         181
             neutral          78
             hate             46
             surprise         29
             empty            13
             boredom           9
             love              8
             happiness         7
             relief            7
             enthusiasm        4
             fun               4
             anger             1
neutral      neutral        1448
             worry           801
             sadness         473
             happiness       424
             surprise        248
             relief          193
             love            190
             fun             189
             empty           129
             enthusiasm      103
             hate             87
             boredom          22
             anger             9
positive     happiness       130
             love            109
             neutral          73
             worry            36
             relief           22
             surprise         22
             fun              21
             sadness          16
             enthusiasm       10
             empty             2
             hate              2
             anger             1
Name: sentiment_y, dtype: int64

In [28]:
train[train['whole_sentence']==1]['author'].value_counts()

FashionGuru        3
intheglow          3
cprsumalinog       3
candiesandmusic    3
libster_t          3
                  ..
Lynne73            1
Tessypie           1
babysa92           1
l4flare            1
ohdichi            1
Name: author, Length: 5309, dtype: int64

In [33]:
train[train['author']=='Lynne73']

,textID,text,selected_text,sentiment_x,sentiment_y,author,whole_sentence
21588,b943e7969b,So ... Still finishing errands for a trip tomo...,So ... Still finishing errands for a trip tomo...,neutral,worry,Lynne73,True

In [24]:
train.groupby('sentiment_y')['whole_sentence'].mean()

sentiment_y
anger         0.366667
boredom       0.382716
empty         0.582996
enthusiasm    0.600000
fun           0.507109
happiness     0.428571
hate          0.321429
love          0.333696
neutral       0.684503
relief        0.511521
sadness       0.425667
surprise      0.505922
worry         0.434903
Name: whole_sentence, dtype: float64

In [25]:
train.groupby(['sentiment_x','sentiment_y'])['whole_sentence'].mean()

sentiment_x  sentiment_y
negative     anger          0.066667
             boredom        0.160714
             empty          0.160494
             enthusiasm     0.129032
             fun            0.093023
             happiness      0.140000
             hate           0.149351
             love           0.131148
             neutral        0.192118
             relief         0.122807
             sadness        0.192758
             surprise       0.169591
             worry          0.188897
neutral      anger          1.000000
             boredom        1.000000
             empty          0.908451
             enthusiasm     0.980952
             fun            0.908654
             happiness      0.946429
             hate           0.935484
             love           0.922330
             neutral        0.942708
             relief         0.960199
             sadness        0.934783
             surprise       0.928839
             worry          0.952438
positive     anger          0.166667
             boredom        0.000000
             empty          0.083333
             enthusiasm     0.169492
             fun            0.122807
             happiness      0.160296
             hate           0.105263
             love           0.166922
             neutral        0.185279
             relief         0.125000
             sadness        0.124031
             surprise       0.143791
             worry          0.120401
Name: whole_sentence, dtype: float64

In [26]:
train.groupby(['sentiment_x'])['whole_sentence'].mean()

sentiment_x
negative    0.147539
neutral     0.905460
positive    0.130972
Name: whole_sentence, dtype: float64

In [27]:
train.shape

(27480, 6)

In [23]:
train.groupby('sentiment_x')['sentiment_y'].value_counts()

sentiment_x  sentiment_y
negative     worry          1387
             sadness         939
             neutral         406
             hate            308
             surprise        171
             empty            81
             love             61
             relief           57
             boredom          56
             happiness        50
             fun              43
             enthusiasm       31
             anger            15
neutral      neutral        1536
             worry           841
             sadness         506
             happiness       448
             surprise        267
             fun             208
             love            206
             relief          201
             empty           142
             enthusiasm      105
             hate             93
             boredom          22
             anger             9
positive     happiness       811
             love            653
             neutral         394
             worry           299
             relief          176
             fun             171
             surprise        153
             sadness         129
             enthusiasm       59
             empty            24
             hate             19
             anger             6
             boredom           3
Name: sentiment_y, dtype: int64

In [43]:
train[(train['sentiment_x']=='positive')&(train['sentiment_y']=='neutral')].sample(n=10)

,textID,text,selected_text,sentiment_x,sentiment_y,whole_sentence
23735,ff2788e53e,_frog... yes they ARE!!,yes they ARE!!,positive,neutral,False
20986,34022c6e5f,Good B-movie... Starship Troopers is cool! Cit...,Good B-movie..,positive,neutral,False
1452,edfc9878fd,just come in from the garden. It is very warm ...,beautiful.,positive,neutral,False
13815,d2679b98ab,is chilling at home,is chilling at home,positive,neutral,True
25832,3d30b8a120,Just saw the Toy Story 3 trailer! It`s about t...,It`s about to get EPIC!,positive,neutral,False
11916,4358e192f8,"Well, I just need to get some motivation, and ...",it`s such a lovely day!,positive,neutral,False
16467,8caf9852b4,bout tuh head out an find sum wher tuh go an c...,chill,positive,neutral,False
25099,277d5a930c,_a_michael i plan on it! Goodnight,Goodnight,positive,neutral,False
24738,0a75e980ad,at work. these five year olds are gonna keep m...,young.,positive,neutral,False
18399,f17bce53be,"Going to bed. Today was another good, if uneve...","good,",positive,neutral,False