In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('../experiments/v10_10/preds_10_2.pkl')

In [3]:
df.head()

,textID,text,selected_text,sentiment,kfold,pred,raw_pred,start_char_prob,end_char_prob,start_char_prob2,end_char_prob2
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,1,"I`d have responded, if I were going","I`d have responded, if I were going","[1.4195052244758699e-05, 0.9998747110366821, 4...","[9.991838396672392e-07, 2.9739665478700772e-05...","[0.9998747110366821, 0.9998747110366821, 4.918...","[9.991838396672392e-07, 2.9739665478700772e-05..."
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,3,Sooo SAD,Sooo SAD,"[6.095983917475678e-05, 0.5823206901550293, 0....","[1.4333424758206093e-07, 0.0005510093760676682...","[0.5823206901550293, 0.5823206901550293, 0.582...","[1.4333424758206093e-07, 0.0005510093760676682..."
2,088c60f138,my boss is bullying me...,bullying me,negative,4,bullying me...,bullying me...,"[0.29349878430366516, 0.29349878430366516, 4.0...","[0.0002840515226125717, 0.0002840515226125717,...","[0.29349878430366516, 0.29349878430366516, 0.0...","[0.0002840515226125717, 0.0002840515226125717,..."
3,9642c003ef,what interview! leave me alone,leave me alone,negative,0,leave me alone,leave me alone,"[1.7648064385866746e-05, 0.42214760184288025, ...","[5.549742922994483e-07, 0.009236179292201996, ...","[0.42214760184288025, 0.42214760184288025, 0.4...","[5.549742922994483e-07, 0.009236179292201996, ..."
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,5,"****,","****,","[7.111657760106027e-05, 0.47037774324417114, 0...","[2.906915312905767e-07, 0.0009326006402261555,...","[0.47037774324417114, 0.47037774324417114, 0.4...","[2.906915312905767e-07, 0.0009326006402261555,..."

In [5]:
df.loc[0, 'start_char_prob2']

array([9.99874711e-01, 9.99874711e-01, 4.91866922e-06, 1.95736520e-05,
       1.16408737e-05, 1.16408737e-05, 1.16408737e-05, 1.16408737e-05,
       1.16408737e-05, 7.63488333e-06, 7.63488333e-06, 7.63488333e-06,
       7.63488333e-06, 7.63488333e-06, 7.63488333e-06, 7.63488333e-06,
       7.63488333e-06, 7.63488333e-06, 7.63488333e-06, 2.97442602e-06,
       5.26226977e-05, 5.26226977e-05, 5.26226977e-05, 4.37084327e-06,
       4.37084327e-06, 2.00636873e-06, 2.00636873e-06, 2.00636873e-06,
       2.00636873e-06, 2.00636873e-06, 3.27769635e-06, 3.27769635e-06,
       3.27769635e-06, 3.27769635e-06, 3.27769635e-06, 3.27769635e-06])

In [6]:
df.loc[0, 'start_char_prob']

array([1.41950522e-05, 9.99874711e-01, 4.91866922e-06, 1.95736520e-05,
       5.03310616e-07, 1.16408737e-05, 1.16408737e-05, 1.16408737e-05,
       1.16408737e-05, 5.36410937e-07, 7.63488333e-06, 7.63488333e-06,
       7.63488333e-06, 7.63488333e-06, 7.63488333e-06, 7.63488333e-06,
       7.63488333e-06, 7.63488333e-06, 7.63488333e-06, 2.97442602e-06,
       3.48900812e-07, 5.26226977e-05, 5.26226977e-05, 2.64277446e-07,
       4.37084327e-06, 1.84440509e-07, 2.00636873e-06, 2.00636873e-06,
       2.00636873e-06, 2.00636873e-06, 1.26334825e-07, 3.27769635e-06,
       3.27769635e-06, 3.27769635e-06, 3.27769635e-06, 3.27769635e-06])

In [2]:
sub_local = pd.read_csv('../src/submission.csv')

In [3]:
sub_kaggle = pd.read_csv('../submission717.csv')

In [10]:
sub2 = pd.read_csv('../submission_correct.csv')

In [4]:
sub_local.head()

,textID,text,sentiment,clean_text,train_text,extra_space,senti_label,offsets,words,invert_map,whole_pred,selected_text,score
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,Last session of the day http://twitpic.com/67ezh,Last session of the day http://twitpic.com/67ezh,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,"[(0, 4), (4, 5), (5, 12), (12, 13), (13, 15), ...","['Last', ' ', 'session', ' ', 'of', ' ', 'the'...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.589832,Last session of the day http://twitpic.com/67ezh,1.502438
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,Shanghai is also really exciting (precisely --...,Shanghai is also really exciting (precisely -...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",2,"[(0, 1), (1, 9), (9, 10), (10, 12), (12, 13), ...","[' ', 'Shanghai', ' ', 'is', ' ', 'also', ' ',...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 12,...",0.033377,exciting,1.054914
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,"Recession hit Veronique Branquinho, she has to...","Recession hit Veronique Branquinho, she has to...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[(0, 9), (9, 10), (10, 13), (13, 14), (14, 23)...","['Recession', ' ', 'hit', ' ', 'Veronique', ' ...","[0, 1, 2, 3, 4, 4, 4, 5, 6, 6, 6, 7, 8, 9, 10,...",0.083258,shame!,1.360383
3,01082688c6,happy bday!,positive,happy bday!,happy bday!,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",2,"[(0, 1), (1, 6), (6, 7), (7, 11), (11, 12)]","[' ', 'happy', ' ', 'bday', '!']","[0, 1, 2, 3, 3, 4]",0.105837,happy,1.609411
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,http://twitpic.com/4w75p - I like it!!,http://twitpic.com/4w75p - I like it!!,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",2,"[(0, 1), (1, 5), (5, 6), (6, 7), (7, 8), (8, 1...","[' ', 'http', ':', '/', '/', 'twitpic', '.', '...","[0, 1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 9, 9, 9, ...",0.005534,I like,1.062531

In [9]:
sub_kaggle.head(20)

,textID,selected_text,s2
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,Last session of the day http://twitpic.com/67ezh
1,96d74cb729,exciting,exciting
2,eee518ae67,shame!,shame!
3,01082688c6,happy,happy
4,33987a8ee5,I like,I like
5,726e501993,that`s great!,that`s great!
6,261932614e,HATES,HATES
7,afa11da83f,blocked,blocked
8,e64208b4ef,and within a short time of the last clue all ...,and within a short time of the last clue all ...
9,37bcad24ca,What did you get? My day is alright.. haven`...,What did you get? My day is alright.. haven`...
10,24c92644a4,argh total bummer,argh total bummer
11,43b390b336,I checked. We didn`t win,I checked. We didn`t win
12,69d6b5d93e,.. and you`re on twitter! Did the tavern bore...,.. and you`re on twitter! Did the tavern bore...
13,5c1e0b61a1,"sad,","sad,"
14,504e45d9d9,loose,loose
15,ae93ad52a0,"don`t like it and i hate my new timetable, hav...","don`t like it and i hate my new timetable, hav..."
16,9fce30159a,Miss you,Miss you
17,00d5195223,Cramps,Cramps
18,33f19050cf,t nice,t nice
19,f7718b3c23,"I`m going into a spiritual stagnentation, its ...","I`m going into a spiritual stagnentation, its ..."

In [6]:
sub_kaggle['s2'] = sub_local['selected_text'].values

In [11]:
sub_kaggle['s3'] = sub2['selected_text'].values

In [12]:
sub_kaggle[sub_kaggle['s3']!=sub_kaggle['selected_text']]

,textID,selected_text,s2,s3
2341,e10587e6de,I hate you.,hate you.,hate you.
2827,24747934b4,That won`t be for a while though. Wide awake.,"Yeah, I`ll probably `stop` when ALL of my stor...","Yeah, I`ll probably `stop` when ALL of my stor..."